.idea
.pyc
__pycache__/
.vscode/
.DS_Store
.env.local
camunda/build/
camunda/.gradle/
!camunda/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
camunda/.gradle/
camunda/.gradle/6.6.1/executionHistory/
camunda/.gradle/6.6.1/fileHashes/
camunda/.gradle/buildOutputCleanup/buildOutputCleanup.lock
