.idea
.pyc
__pycache__/
.vscode/
.cursor/
.DS_Store
!**/src/main/**/build/
!**/src/test/**/build/

app/.env
app/.coverage
private_media/

.env.local
.local.env

# Data folders for local development (e.g. imports/SpiffWorkflow data diffs)
/data/*
/app/data/*
