django
django-filter
djangorestframework
psycopg2
requests
drf-spectacular
django-cors-headers
sentry-sdk
mozilla_django_oidc
djangorestframework-simplejwt
django-extensions
faker
requests
tenacity
freezegun
model-bakery
debugpy
datapunt_keycloak_oidc
