celery
django
django-celery-beat
django-celery-results
django-filter
djangorestframework
psycopg2
requests
drf-spectacular
django-cors-headers
sentry-sdk
djangorestframework-simplejwt
django-extensions
faker
requests
tenacity
freezegun
model-bakery
debugpy
git+https://github.com/petercuret/keycloak_oidc.git@master
django-spaghetti-and-meatballs
django-health-check
django-redis==4.11.0
