django
django-filter
djangorestframework
psycopg2
requests
pyjwt
drf-spectacular
django-cors-headers
sentry-sdk
mozilla_django_oidc
djangorestframework-simplejwt
django-extensions
faker
requests
tenacity
freezegun
