name: 'Main, lint, build & manage.py test'
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Linting
      run: bash bin/cleanup_pre_commit.sh
    - name: Build Docker image
      run: docker compose -f docker-compose.local.yml build
    - name: Create Docker network
      run: docker network create zaken_network
    - name: Create TOP and Zaken Docker network
      run: docker network create top_and_zaak_backend_bridge
    - name: Start images
      run: docker compose -f docker-compose.local.yml up -d
    - run: sleep 30
    - name: Run Tests
      run: docker compose -f docker-compose.local.yml exec -T zaak-gateway python manage.py test --verbosity=2

    - if: ${{ failure() }}
      name: "ON FAILURE: Which containers were running while failing?"
      run: docker ps -a

    - if: ${{ failure() }}
      name: "ON FAILURE: Backend logs"
      run: docker logs zaken-backend-zaak-gateway-1

    - if: ${{ failure() }}
      name: "ON FAILURE: Database logs"
      run: docker logs zaken-backend-database-1
